.question-prompts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1vh;
}

.genre h3, 
.decade h3,
.related-artist h3
{
    font-size: 4vw;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    height: 100%;
}

.genre h3
{
    background: aquamarine;
}

.decade h3
{
    background: pink;

}

.related-artist h3
{
    background: lightcoral;

}